body{
    margin: 0%;
    padding:0%;
}

#collapsibleNavId a:hover{
    color: brown;
    text-decoration: underline white 2px;
}
#collapsibleNavId a{
    color: white ;
}
.navbar{
   background:linear-gradient(to right,black,white,blue);
  
}
.carousel-caption{
    top: 11rem;
    
}

